<div ng-app="createProject" ng-controller="createProjectController">
	<!-- 路由页面的标题 -->
	<section class="content-header">
    <h1>
      创建项目
    </h1>
  </section>
	<!--主要内容-->
    <section class="content">
    	<div class="row">
	    		<div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active" style="cursor: pointer;"><a ng-click="addActive('basicData')" data-toggle="tab">项目基本内容设置</a></li>
              <li style="cursor: pointer;"><a ng-click="addActive('collectData')" data-toggle="tab">创建项目所需收集数据</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="basicData">
            <div ng-show="level1" ng-init="level1 = true">
              <form>
              <span class="h3">项目名称：</span>
              <input type="text" class="form-control" ng-model="projectName">
              <br/>
              <span class="h3">项目简介：</span>
              <textarea class="form-control" rows="3" ng-model="introduction"></textarea>
              <br/>
              <button ng-click = "submit1()" class="btn btn-primary col-md-offset-10">提交</button>
              </form>
            </div>
              

	    	</div>
    	</div>
      </div>
      </div>
    </section>
</div>

