<div>
	<br/>
  <div style="text-align: center"><img src="../lib/images/navyblueLogo.png" height="50%" width="60%" /></div>
  <div style="text-align: center"><span class="h4">上海深蓝医学科技有限公司</span></div>
  <br/>
  <div class="col-md-offset-1" style="margin-top: 15%">
  <span class="h4">合作医院</span>
  <span><a href="http://www.navyblue.cn/" target="_blank"><span class="h4">上海市解放军第八五医院</span></a><!-- <span class="h4"> |</span>
  <a href="http://www.navyblue.cn/" target="_blank"><span class="h4">上海市曙光医院</span></a> -->
  </span>
  </div>
</div>