<section class="content-header">
  <h1 class=" text-center">
     饮酒状况
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
    <li class="active">饮酒状况</li>
  </ol>
</section>
<div ng-app="drink" ng-controller="drinkController">

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <p class="h3">保存成功</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
              </div>
            </div>
    </div>

  <u class="h4 col-md-offset-9">患者：{{patientName}}</u>
  <br>
  <u class="h4 col-md-offset-9">病理号：{{patientNumber}}</u>
      <br>
      <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">饮酒史</h3>
      </div>
      <div class="box-body">
        <input type="radio" name="drinkHistory" ng-model="drinkHistory" ng-value=1><span class="h4">长期饮酒</span>
        <span class="col-md-offset-1">
          <input type="radio" name="drinkHistory" ng-model="drinkHistory" ng-value=2><span class="h4">偶尔饮酒</span>
        </span>
        <span class="col-md-offset-1">
          <input type="radio" name="drinkHistory" ng-model="drinkHistory" ng-value=3><span class="h4">不饮酒</span>
        </span>
        <span class="col-md-offset-1">
          <input type="radio" name="drinkHistory" ng-model="drinkHistory" ng-value=4><span class="h4">不详</span>
        </span>
      </div>
<div class="box-body">
              <div class="box-header with-border">
                <h3 class="box-title">详情</h3>
              </div>
              <div class="box-body" id="drink">
                <div class="col-md-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 饮酒种类</i>
                    </div>
                    <select ng-model="drinkType" class="form-control">
                      <option value="1">白酒</option>
                      <option value="2">黄酒</option>
                      <option value="3">啤酒</option>
                      <option value="4">葡萄酒</option>
                      <option value="5">其他</option>
                      <option value="6">不详</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 饮酒数量（毫升/天）</i>
                    </div>
                    <input class="form-control" ng-model="drinkQuantity">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 饮酒年限（年）</i>
                    </div>
                    <input class="form-control" ng-model="drinkLife">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 酒精度数（度）</i>
                    </div>
                    <input class="form-control" ng-model="proof">
                  </div>
                </div>
              </div>
              <button class="btn btn-default col-md-offset-5" ng-click="addDrink()">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
</div>
</div>
		  <span class="col-md-offset-10">&nbsp</span>
          <input type="button" class="btn btn-primary " ng-click="save()" value="保存">&nbsp
          <input type="button" class="btn btn-primary " ng-click="layout()" value="退出">
</div>
