<section class="content-header">
  <h1 class=" text-center">
     可疑药物用药史
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
    <li class="active">可疑药物用药史</li>
  </ol>
</section>
<div ng-app="drugHistory" ng-controller="drugHistoryController">

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <p class="h3">保存成功</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
              </div>
            </div>
    </div>

  <u class="h4 col-md-offset-9">患者：{{patientName}}</u>
  <br>
  <u class="h4 col-md-offset-9">病理号：{{patientNumber}}</u>
      <br>
      <div class="box box-info">
      <div class="box-body">
              <div class="box-header with-border">
                <h3 class="box-title">详情<sub style="color: green">（日剂量：mg、g、ug、ml、L、片、粒、包、IU、其他、不详）</sub></h3>
              </div>
              <div class="box-body" id="drug">
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 通用名</i>
                    </div>
                    <input class="form-control" ng-model="genericName">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 商品名</i>
                    </div>
                    <input class="form-control" ng-model="tradeName">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 治疗疾病</i>
                    </div>
                    <input class="form-control" ng-model="treatComplaint">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 用药方法</i>
                    </div>
                    <select class="form-control" ng-model="medicationMethod">
                      <option value="口服">口服</option>
                      <option value="皮下注射">皮下注射</option>
                      <option value="直肠给药">直肠给药</option>
                      <option value="滴注">滴注</option>
                      <option value="鼻腔给药">鼻腔给药</option>
                      <option value="吸入给药">吸入给药</option>
                      <option value="静脉注射">静脉注射</option>
                      <option value="局部给药">局部给药</option>
                      <option value="肌肉注射">肌肉注射</option>
                      <option value="静脉滴注">静脉滴注</option>
                      <option value="雾化吸入">雾化吸入</option>
                      <option value="其他">其他</option>
                      <option value="不详">不详</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 日剂量</i>
                    </div>
                    <input class="form-control" ng-model="dose">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 开始日期</i>
                    </div>
                    <input class="form-control pull-right" id="beginDate" ng-model="beginDate" >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 是否停药</i>
                    </div>
                    <select class="form-control" ng-model="drugWithDrawal">
                      <option value="是">是</option>
                      <option value="否">否</option>
                      <option value="不详">不详</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 停药日期</i>
                    </div>
                    <input type="text" class="form-control pull-right" id="drugWithdrawalDate" ng-model="drugWithDrawalDate" placeholder="没有停药则不填">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 是否减量</i>
                    </div>
                    <select class="form-control" ng-model="decrement">
                      <option value="1是">是</option>
                      <option value="否">否</option>
                      <option value="不详">不详</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 既往该药暴露史</i>
                    </div>
                    <select class="form-control" ng-model="drugExposure">
                      <option value="是">是</option>
                      <option value="否">否</option>
                      <option value="不详">不详</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 既往暴露引起肝损</i>
                    </div>
                    <select class="form-control" ng-model="exposureLiverDamage">
                      <option value="是">是</option>
                      <option value="否">否</option>
                      <option value="未知">未知</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 厂家及批号</i>
                    </div>
                    <input type="text" ng-model="manufactor" class="form-control">
                  </div>
                </div>


              </div>
              <button class="btn btn-success col-md-offset-5" ng-click="addDrug()">
              增加
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
</div>
</div>
		  <span class="col-md-offset-10">&nbsp</span>
          <input type="button" class="btn btn-primary " ng-click="save()" value="保存">&nbsp
          <input type="button" class="btn btn-primary " ng-click="layout()" value="退出">
</div>
