<section class="content-header">
  <h1 class="text-center">
    实验室检查--所有住院生化检查（首次异常除外）
  </h1><br>
  <ol class="breadcrumb">
  </ol>
</section>

<div ng-app="hospitalAbnormalExamination" ng-controller="hospitalAbnormalExaminationController">
  <div class="container-fluid">
    <div class="row-fluid">

      <div ng-model="emptyObject"></div>
        <div class="span12">
          <u class="h4 col-md-offset-9">患者：{{patientName}}</u>
          <br>
          <u class="h4 col-md-offset-9">病理号：{{patientNumber}}</u>
        </div>

        <div>
          <button type="button" class="btn btn-info pull-primary" ng-click="checkModel('#checkModel')">数据总览</button>
          <button type="button" class="btn btn-info pull-primary" ng-click="checkModel('#inputModel')">新增数据</button>
          <button type="button" class="btn btn-info pull-primary col-md-offset-9" ng-click="showSaveModal()" id="saveButton">整体保存</button>        
        </div>

        <div class="box">
          <div class="box-header" style="text-align: -webkit-center;">
            <h3 class="box-title">肝脏生化检查</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style=" text-align: -webkit-center;"  width="10%">检查日期</th>
                  <th style=" text-align: -webkit-center;">谷丙转氨酶(ALT)(IU/L)</th>
                  <th style=" text-align: -webkit-center;">谷草转氨酶(AST)(IU/L)</th>
                  <th style=" text-align: -webkit-center;">谷氨酰转肽酶(GGT)(IU/L)</th>
                  <th style=" text-align: -webkit-center;">碱性磷酸酶(ALP)(IU/L)</th>
                  <th style=" text-align: -webkit-center;">胆汁酸(umol/L)</th>
                  <th style=" text-align: -webkit-center;">总胆红素(TBIL)(umol/L)</th>
                  <th style=" text-align: -webkit-center;">直接胆红素(结合，DBIL)(umol/L)</th>
                  <th style=" text-align: -webkit-center;">总蛋白(TP)(g/L)</th>
                  <th style=" text-align: -webkit-center;">白蛋白(ALB)(g/L)</th>
                </tr>
              </thead>
              <tbody ng-repeat="mlfae in mlfaes" id="checkModel1">
                <tr>
                  <td height="38px" style=" text-align: -webkit-center;">{{mlfae.tab1CheckDate | date: "yyyy-MM-dd"}}</td>
                  <td height="38px" ng-bind="mlfae.alt" style=" text-align: -webkit-center; "></td>
                  <td height="38px" ng-bind="mlfae.ast" style=" text-align: -webkit-center; "></td>
                  <td height="38px" ng-bind="mlfae.ggt" style=" text-align: -webkit-center; "></td>
                  <td height="38px" ng-bind="mlfae.alp" style=" text-align: -webkit-center; "></td>
                  <td height="38px" ng-bind="mlfae.bileAcid" style=" text-align: -webkit-center; "></td>
                  <td height="38px" ng-bind="mlfae.tbil" style=" text-align: -webkit-center; "></td>
                  <td height="38px" ng-bind="mlfae.dbil" style=" text-align: -webkit-center; "></td>
                  <td height="38px" ng-bind="mlfae.tp" style=" text-align: -webkit-center; "></td>
                  <td height="38px" ng-bind="mlfae.alb" style=" text-align: -webkit-center; "></td>
                </tr>
              </tbody>
              <tbody id="inputModel1">
                <tr>
                  <td height="38px" style=" text-align: -webkit-center;">
                    <input type="text" class="form-control pull-right" style="height: 30px;text-align: -webkit-center;"
                     id="datepicker1" ng-model="tab1CheckDate">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="alt">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="ast">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="ggt">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="alp">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="bileAcid">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="tbil">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="dbil">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="tp">
                  </td>
                  <td height="38px" style=" text-align: -webkit-center; ">
                    <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="alb">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a ng-click="">&laquo;</a></li>
              <li ng-repeat="pageNum in pageNums"><a ng-click="testFun(pageNum)" ng-bind="pageNum"></a></li>
              <li><a ng-click="">&raquo;</a></li>
            </ul>
          </div>
        </div>



        <div class="box">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header" style="text-align: -webkit-center;">
                <h3 class="box-title">肾功能检查</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style=" text-align: -webkit-center;"  width="20%">检查日期</th>
                      <th style=" text-align: -webkit-center;">肌酐(Scr)(umol/L)</th>
                      <th style=" text-align: -webkit-center;">尿素氮(mmol/L)</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="mlfae in mlfaes" id="checkModel2">
                    <tr>
                      <td height="38px" style=" text-align: -webkit-center;">{{mlfae.tab2CheckDate | date: "yyyy-MM-dd"}}</td>
                      <td height="38px" ng-bind="mlfae.scr" style=" text-align: -webkit-center; "></td>
                      <td height="38px" ng-bind="mlfae.bun" style=" text-align: -webkit-center; "></td>
                    </tr>
                  </tbody>
                  <tbody id="inputModel2">
                    <tr>
                      <td height="38px" style=" text-align: -webkit-center;">
                        <input type="text" class="form-control pull-right" style="height: 30px;text-align: -webkit-center;"
                          id="datepicker2" ng-model="tab2CheckDate">
                      </td>
                      <td height="38px" style=" text-align: -webkit-center; ">
                        <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="scr">
                      </td>
                      <td height="38px" style=" text-align: -webkit-center; ">
                        <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="bun">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="box">
              <div class="box-header" style="text-align: -webkit-center;">
                <h3 class="box-title">血糖检查</h3>
              </div>
              <div class="box-body">
                <table id="example3" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style=" text-align: -webkit-center;"  width="20%">检查日期</th>
                      <th style=" text-align: -webkit-center;">空腹血糖(mmol/L)</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="mlfae in mlfaes" id="checkModel3">
                    <tr>
                      <td height="38px" style=" text-align: -webkit-center;">{{mlfae.tab3CheckDate | date: "yyyy-MM-dd"}}</td>
                      <td height="38px" ng-bind="mlfae.plasmaGlucose" style=" text-align: -webkit-center; "></td>
                    </tr>
                  </tbody>
                  <tbody id="inputModel3">
                    <tr>
                      <td height="38px" style=" text-align: -webkit-center;">
                        <input type="text" class="form-control pull-right" style="height: 30px;text-align: -webkit-center;"
                         id="datepicker3" ng-model="tab3CheckDate">
                      </td>
                      <td height="38px" style=" text-align: -webkit-center; ">
                        <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="plasmaGlucose">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a ng-click="">&laquo;</a></li>
              <li ng-repeat="pageNum in pageNums"><a ng-click="testFun(pageNum)" ng-bind="pageNum"></a></li>
              <li><a ng-click="">&raquo;</a></li>
            </ul>
          </div>
        </div>
        

        <div class="box">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header" style="text-align: -webkit-center;">
                <h3 class="box-title">凝血功能检查</h3>
              </div>
              <div class="box-body">
                <table id="example4" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style=" text-align: -webkit-center;"  width="20%">检查日期</th>
                      <th style=" text-align: -webkit-center;">凝血酶原时间(PT)(秒)</th>
                      <th style=" text-align: -webkit-center;">凝血酶原标准化比值(INR)</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="mlfae in mlfaes" id="checkModel4">
                    <tr>
                      <td height="38px" style=" text-align: -webkit-center;">{{mlfae.tab4CheckDate | date: "yyyy-MM-dd"}}</td>
                      <td height="38px" ng-bind="mlfae.pt" style=" text-align: -webkit-center; "></td>
                      <td height="38px" ng-bind="mlfae.inr" style=" text-align: -webkit-center; "></td>
                    </tr>
                  </tbody>
                  <tbody id="inputModel4">
                    <tr>
                      <td height="38px" style=" text-align: -webkit-center;">
                        <input type="text" class="form-control pull-right" style="height: 30px;text-align: -webkit-center;"
                         id="datepicker4" ng-model="tab4CheckDate">
                      </td>
                      <td height="38px" style=" text-align: -webkit-center; ">
                        <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="pt">
                      </td>
                      <td height="38px" style=" text-align: -webkit-center; ">
                        <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="inr">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>



          <div class="col-md-6">
            <div class="box">
              <div class="box-header" style="text-align: -webkit-center;">
                <h3 class="box-title">肿瘤标志物</h3>
              </div>
              <div class="box-body">
                <table id="example5" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style=" text-align: -webkit-center;"  width="20%">检查日期</th>
                      <th style=" text-align: -webkit-center;">甲胎蛋白(AFP)(ug/L)</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="mlfae in mlfaes" id="checkModel5">
                    <tr>
                      <td height="38px" style=" text-align: -webkit-center;">{{mlfae.tab5CheckDate | date: "yyyy-MM-dd"}}</td>
                      <td height="38px" ng-bind="mlfae.afp" style=" text-align: -webkit-center; "></td>
                    </tr>
                  </tbody>
                  <tbody id="inputModel5">
                    <tr>
                      <td height="38px" style=" text-align: -webkit-center;">
                        <input type="text" class="form-control pull-right" style="height: 30px;text-align: -webkit-center;"
                         id="datepicker5" ng-model="tab5CheckDate">
                      </td>
                      <td height="38px" style=" text-align: -webkit-center; ">
                        <input type="text" style="text-align: -webkit-center;width: 100%;" ng-model="afp">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a ng-click="">&laquo;</a></li>
              <li ng-repeat="pageNum in pageNums"><a ng-click="testFun(pageNum)" ng-bind="pageNum"></a></li>
              <li><a ng-click="">&raquo;</a></li>
            </ul>
          </div>
        </div>

        
        <!-- 模态框 -->
        <div class="modal fade" id="justModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                <p ng-bind="justModalContent" class="h4" style="text-align: -webkit-center;">&hellip;</p>
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>







