<!-- Content Wrapper. Contains page content -->
  <div class="project">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        
        <small> </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">系统消息</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <div class="nav nav-tabs" style="background-color:#222d32;color:#b8c7ce;">
              <h1 style="margin-left:12px;">系统消息</h1>
            </div>
            <div class="tab-content">
              <div class="project-content">
                <section class="body">
                  <div class="inviteDefault">
                    <div class="box box-primary">
                      <div class="panel panel-default panel-chart">
                        <div class="panel-heading">邀请消息</div>
                        <div class="panel-body">
                          <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                              <tbody ng-repeat="x in messages">
                                <tr ng-click="click_message(x)">
                                  <td ng-if="$odd" style="background-color:#f1f1f1" ui-sref="readMessage"><i class="fa fa-envelope-o"></i></td>
                                  <td ng-if="$even" style="background-color:#4ba8b3" ui-sref="readMessage"><i class="fa fa-envelope-o"></i></td>
                                  <td ng-if="$odd" style="background-color:#f1f1f1" ui-sref="readMessage" class="mailbox-subject">邀请消息</td>
                                  <td ng-if="$even" style="background-color:#4ba8b3" ui-sref="readMessage" class="mailbox-subject">邀请消息</td>
                                  <td ng-if="$odd" style="background-color:#f1f1f1" ui-sref="readMessage" class="mailbox-name">{{x.content}}</td>
                                  <td ng-if="$even" style="background-color:#4ba8b3" ui-sref="readMessage" class="mailbox-name">{{x.content}}</td>
                                  <td ng-if="$odd" style="background-color:#f1f1f1" ui-sref="readMessage" class="mailbox-subject">未读</td>
                                  <td ng-if="$even" style="background-color:#4ba8b3" ui-sref="readMessage" class="mailbox-subject">未读</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="page ng-hide" my-directive url={{url}} get-data="messages"></div>
                          </div>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

