<section class="content-header">
  <h1 class="text-center">
    患者一般资料
  </h1><br>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
    <li class="active">患者资料</li>
  </ol>
</section>
  <div  ng-app="patientInfo" ng-controller="patientInfoController">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="col-md-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">【 基本信息 】</h3>
              </div>
                <div class="box-body">
                  <form role="form">
                <!-- 姓名字段 -->
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">姓名</i>
                    </div>
                    <input class="form-control" ng-model="name" id="inputName" ng-blur="judgeName()"
                    data-toggle="popover" data-placement="top">
                  </div>
                </div>
                <!-- 性别字段 -->
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">性别</i>
                    </div>
                    <select ng-model="gender" class="form-control">
                      <option value="男">男</option>
                      <option value="女">女</option>
                    </select>
                    <!-- <input class="form-control" id="inputGender" ng-model="gender" tabindex="0"
                    data-toggle="popover" data-placement="top"> -->
                  </div>
                </div>
                <!-- 出生年月 -->
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">出生日期</i>
                    </div>
                    <input class="form-control pull-right" id="datepicker1" ng-model="birthday" >
                  </div>
                </div>
                <!-- 民族字段 -->
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 民族 &ensp; &#8197; </i>
                    </div>
                    <input class="form-control" id="inputEmail3" ng-model="nation">
                  </div>
                </div>
              </div>


              <div class="box-header with-border">
                <!-- 体重字段 -->
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">体重(kg)</i>
                    </div>
                    <input class="form-control" ng-model="weight" id="inputName" ng-blur="judgeName()"
                    data-toggle="popover" data-placement="top">
                  </div>
                </div>
                <!-- 身高字段 -->
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">身高(cm)</i>
                    </div>
                    <input class="form-control" id="inputGender" ng-model="height" tabindex="0" ng-blur="judgeGender()"
                    data-toggle="popover" data-placement="top">
                  </div>
                </div>
                <!-- BMI -->
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-weight: 900;font-style: inherit;"> &emsp; BMI &emsp; </i>
                    </div>
                    <input class="form-control" id="inputEmail3" ng-model="bmi">
                  </div>
                </div>
                <!-- 文化程度字段 -->
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">文化程度</i>
                    </div>
                    <select ng-model="degreeOfEducation" class="form-control">
                      <option value="半文盲或文盲">半文盲或文盲</option>
                      <option value="小学">小学</option>
                      <option value="初中">初中</option>
                      <option value="高中">高中</option>
                      <option value="技工学校">技工学校</option>
                      <option value="中等技术学校">中等技术学校</option>
                      <option value="中专">中专</option>
                      <option value="大专">大专</option>
                      <option value="本科">本科</option>
                      <option value="研究生以上">研究生以上</option>
                    </select>
                    <!-- <input class="form-control" id="inputEmail3" ng-model="degreeOfEducation"> -->
                  </div>
                </div>
              </div>

              <div class="box-header with-border">
                <!-- 首次出现肝损伤时间字段 -->
                <div class="col-sm-6">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">首次出现肝损伤时间</i>
                    </div>
                    <input class="form-control" ng-model="firstTimeLiverInjury" id="datepicker4">
                  </div>
                </div>
                <!-- 调查医院 -->
                <div class="col-sm-6">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &emsp; 调查医院 &emsp; </i>
                    </div>
                    <input class="form-control" id="inputEmail3" ng-model="investigateHospital">
                  </div>
                </div>
              </div>

              <div class="box-header with-border">
                <!-- 联系电话字段 -->
                <div class="col-sm-6">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">  &ensp; &ensp; 联系电话 &ensp; </i>
                    </div>
                    <input class="form-control" ng-model="telephone">
                  </div>
                </div>
                <!-- 就诊时病程医院 -->
                <div class="col-sm-6">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">&#8197; &#8197; 就诊时病程&#8197; &#8197; </i>
                    </div>
                    <input class="form-control" id="inputEmail3" ng-model="durationOfVisit" placeholder="（体检发现、肝硬化、其他）">
                  </div>
                </div>
              </div>

              <div class="box-header with-border">
                <!-- 初次诊断年龄字段 -->
                <div class="col-sm-6">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;">初次诊断年龄</i>
                    </div>
                    <input class="form-control" ng-model="firstVisitAge">
                  </div>
                </div>
                <!-- 初次诊断年月医院 -->
                <div class="col-sm-6">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i style="font-style: inherit;"> &ensp; 初次诊断年月</i>
                    </div>
                    <input class="form-control" id="datepicker5" ng-model="firstVisitTime">
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>


          <div class="col-md-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">【 个人家族史 】</h3>
              </div>
              <div class="box-body">
                <form role="form">

                  <div class="box-header with-border">
                    <div class="col-sm-6">
                      <div>
                        <label>吸烟：</label>
                        <label>
                          <input type="radio" name="optionsRadios1" id="optionsRadios1" ng-model="smoke" ng-click="showOthers()" ng-value="false" ng-checked="true">无
                        </label>
                        <label>
                          <input type="radio" name="optionsRadios1" id="optionsRadios2" ng-model="smoke" ng-click="showOthers()" ng-value="true">有
                        </label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div>
                        <label>饮酒：</label>
                        <label>
                          <input type="radio" name="optionsRadios2" id="optionsRadios3" ng-model="drink" ng-click="showOthers()" ng-value="false" ng-checked="true">无
                        </label>
                        <label>
                          <input type="radio" name="optionsRadios2" id="optionsRadios4" ng-model="drink" ng-click="showOthers()" ng-value="true">有
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="box-header with-border">
                    <div class="col-sm-6">
                      <div class="input-group date">
                        <div class="input-group-addon">
                          <i style="font-style: inherit;">家族史</i>
                        </div>
                        <select class="form-control" ng-model="familyHistory" ng-blur="showOthers()">
                          <option>无</option>
                          <option>肿瘤家族史</option>
                          <option>自身免疫性肝病家族史</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-6" ng-show="showOthersResult">
                      <div class="input-group date">
                        <div class="input-group-addon">
                          <i style="font-style: inherit;">相关备注</i>
                        </div>
                        <input class="form-control" ng-model="smokeDrinkFamHis">
                      </div>
                    </div>
                  </div>

                  <div class="box-header with-border">
                    <div class="col-sm-3">
                      <div class="input-group date">
                        <div>
                          <label>并发自身免疫性疾病：</label>
                          <label>
                            <input type="radio" id="optionsRadios5" ng-model="concurrentAutoDisease" ng-click="showDatepicker()" ng-value="false" ng-checked="true">无
                          </label>
                          <label>
                            <input type="radio" id="optionsRadios6" ng-model="concurrentAutoDisease" ng-click="showDatepicker()" ng-value="true">有
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-4" ng-show="concurrentDatepicker">
                      <div class="input-group date">
                        <div class="input-group-addon">
                          <i style="font-style: inherit;">请选择年月</i>
                        </div>
                        <input class="form-control" ng-model="concurrentAutoDate" id="datepicker6">
                      </div>
                    </div>

                    <div class="col-sm-4" ng-show="concurrentDatepicker">
                      <div>
                        <label>是否首发：</label>
                        <label>
                          <input type="radio" id="optionsRadios3" ng-model="conAutoDisFirstOrNot" ng-click="showOthers()" ng-value="false" ng-checked="true">无
                        </label>
                        <label>
                          <input type="radio" id="optionsRadios4" ng-model="conAutoDisFirstOrNot" ng-click="showOthers()" ng-value="true">有
                        </label>
                      </div>
                    </div>
                  </div>


                </form>
              </div>
            </div>
          </div>


        <span class="col-md-offset-10">&nbsp</span>
          <input type="button" class="btn btn-primary " ng-click="showNextModel()" value="保存">&nbsp
          <input type="button" class="btn btn-primary " ng-click="showExistModal()" value="退出">

          <!-- 下一步按钮模态框 -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <p ng-bind="myModalContent">&hellip;</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="commit()">确定</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="existModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                </div>
              <div class="modal-body">
                <p>您确定要放弃编辑退出吗？&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="exsitEdit()">退出编辑</button>
              </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="justModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                </div>
              <div class="modal-body">
                <p ng-bind="justModalContent">&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
