<section class="content-header">
  <h1 class="text-center">
    理化检查结果
  </h1><br>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level5.5</a></li>
    <li class="active">Here</li>
  </ol>
</section>
<div  ng-app="phyAChe" ng-controller="phyACheController">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div>
          <!-- 内容放这里 -->
          <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">分类</h3>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked" style="cursor:pointer">
                <li class="active"><a ng-click="addTabActive('#tab_1', '肝功能')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肝功能</a></li>
                <li><a ng-click="addTabActive('#tab_2', '肾功能')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肾功能</a></li>
                <li><a ng-click="addTabActive('#tab_3', '凝血')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 凝血</a></li>
                <li><a ng-click="addTabActive('#tab_4', '血常规')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 血常规</a></li>
                <li><a ng-click="addTabActive('#tab_5', '肝病自身抗体')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肝病自身抗体</a></li>
                <li><a ng-click="addTabActive('#tab_6', 'ANA')" data-toggle="tab"><i class="fa fa-file-text-o"></i> ANA</a></li>
                <li><a ng-click="addTabActive('#tab_7', '体液免疫')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 体液免疫</a></li>
                <li><a ng-click="addTabActive('#tab_8', '细胞免疫')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 细胞免疫</a></li>
                <li><a ng-click="addTabActive('#tab_9', '风湿免疫相关抗体')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 风湿免疫相关抗体</a></li>
                <li><a ng-click="addTabActive('#tab_10', '腹部超声')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 腹部超声/CT/MRI</a></li>
                <li><a ng-click="addTabActive('#tab_11', '肝脏硬度检测值')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肝脏硬度检测值</a></li>
                <li><a ng-click="addTabActive('#tab_12', '肝穿刺病理检查')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肝穿刺病理检查</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          </div>


          <!-- 显示部分==>肝功能 -->

          <div class="col-md-9">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="text-center" ng-bind="tabTitle"></h3>

                <!-- 各种tab -->
                <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group col-sm-6">
                  <label for="inputEmail3" class="control-label">白蛋白</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">g/L</span>
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-6">
                  <label for="inputPassword3" class="col-sm-2 control-label">球蛋白</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">g/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">ALT</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">IU/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">AST</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">IU/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">GGT</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">IU/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">ALP</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">IU/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">总胆固醇</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">mmol/l</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">总胆红素</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">mmol/l</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">直接胆红素</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">μmmol/l</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">γ-球蛋白</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">

                <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_2', '肾功能')">下一步</button>
              </div>
              <!-- /.box-footer -->
            </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">

                <form class="form-horizontal">
                <div class="box-body">

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">BUN</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">mmol/L</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Cr</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">μmol/L</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="box-footer">

                <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_3', '凝血')">下一步</button>
              </div>
              <!-- /.box-footer -->
            </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">PT</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">秒</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">INR</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_4', '血常规')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_4">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">RBC</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">10<sup>12</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Hb</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">WBC</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">中性粒细胞</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">淋巴细胞</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">嗜酸性粒细胞</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">血小板</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_5', '肝病自身抗体')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_5">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">抗线粒体抗体(AMA)</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">AMA-M2</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">抗平滑肌抗体</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">肝肾微粒体抗体</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">肝细胞溶质抗原</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">可溶性肝-胰抗原</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">其他</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_6', 'ANA')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_6">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">均质型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">颗粒型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">周边型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">核仁型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">核仁增强型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">核点型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">着丝点型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">其他</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_7', '体液免疫')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_7">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">igG</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">igA</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">igM</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">免疫复合物</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon"></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">补体C3</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">补体C4</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">igE</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">IU/ml</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">κ-轻链</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">mg/dl</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">λ-轻链</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">mg/dl</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_8', '细胞免疫')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_8">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD<sub>3</sub></label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">mg/dl</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD<sub>4</sub><sup>+</sup></label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD<sub>8</sub><sup>+</sup></label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD56+16(NK)</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD2</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD4/CD8</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_9', '风湿免疫相关抗体')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_9">
                <form class="form-horizontal">
                  <div class="box-body">

                    <!-- textarea -->
                  <div class="form-group">
                    <!-- <label>Textarea</label> -->
                    <textarea class="form-control" rows="6" ></textarea>
                  </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_10', '腹部超声/CT/MRI')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_10">
                <form class="form-group">
                  <div class="box-body">

                    <li>
                      <input type="radio" name="r3" ng-model="twoEyesDry" value="0"><span class="h5">0分：肝表面光滑，边缘锐，血管走向清晰；</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                    <li>
                			<input type="radio" name="r3" ng-model="twoEyesDry" value="1"><span class="h5">1分：肝表面光滑，回声增粗、增强、分布尚均匀，血管走向清晰；</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                    <li>
                  		<input type="radio" name="r3" ng-model="twoEyesDry" value="2"><span class="h5">2分：肝表面光滑，边缘变钝，回声增粗、增强且分布不均匀，血管走向尚清晰；</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                    <li>
                  	  <input type="radio" name="r3" ng-model="twoEyesDry" value="3"><span class="h5">3分：肝表面光滑，回声增粗、增强、分布尚均匀，血管走向清晰；</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                    <li>
                  		<input type="radio" name="r3" ng-model="twoEyesDry" value="4"><span class="h5">4分：肝表面呈波浪状（或锯齿状），肝回声增粗、增强且分布不均匀、呈结节状（或斑片状），肝缘钝化，肝内血管狭窄或粗细不等。</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_11', '肝脏硬度检测值')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_11">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Fibroscan值：</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Fibrotest</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive('#tab_12', '肝功能')">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_12">
                <form class="form-horizontal">
                  <div class="box-body">

                    <!-- textarea -->
                  <div class="form-group">
                    <!-- <label>Textarea</label> -->
                    <textarea class="form-control" rows="6" ></textarea>
                  </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="addTabActive()">下一步</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>

              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
