<section class="content-header">
  <h1 class="text-center">
    理化检查结果
  </h1><br>
  <ol class="breadcrumb">
  </ol>
</section>
<div  ng-app="phyAChe" ng-controller="phyACheController">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
      <u class="h4 col-md-offset-9">患者：{{patientName}}</u>
      <br>
      <u class="h4 col-md-offset-9">病理号：{{patientNumber}}</u>
      <form class="form-inline col-md-offset-9">
          <div class="form-group">
               <u class="h4">随访</u><checkbox ng-model="follow"></checkbox>
                <div class="input-group date" ng-show="followDateShow">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker" ng-model="followUpDate">
                </div>
          </div>
          </form>
        <div>


          <!-- 内容放这里 -->
          <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">分类</h3>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked" style="cursor:pointer">
                <li class="active"><a ng-click="addTabActive('#tab_1', '总胆汁酸')" data-toggle="tab"><i class="fa fa-file-text-o"></i> </a></li>
                <li><a ng-click="addTabActive('#tab_2', '肝功能')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肝功能</a></li>
                <li><a ng-click="addTabActive('#tab_3', '肾功能')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肾功能</a></li>
                <li><a ng-click="addTabActive('#tab_4', '凝血')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 凝血</a></li>
                <li><a ng-click="addTabActive('#tab_5', '血常规')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 血常规</a></li>
                <li><a ng-click="addTabActive('#tab_6', '肝病自身抗体')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肝病自身抗体</a></li>
                <li><a ng-click="addTabActive('#tab_7', 'ANA')" data-toggle="tab"><i class="fa fa-file-text-o"></i> ANA</a></li>
                <li><a ng-click="addTabActive('#tab_8', '体液免疫')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 体液免疫</a></li>
                <li><a ng-click="addTabActive('#tab_9', '细胞免疫')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 细胞免疫</a></li>
                <li><a ng-click="addTabActive('#tab_14', '肿瘤标记物')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肿瘤标记物</a></li>
                <li><a ng-click="addTabActive('#tab_15', '乙肝五项+定量')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 乙肝五项+定量</a></li>
                <li><a ng-click="addTabActive('#tab_16', '丙肝抗体+定量')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 丙肝抗体+定量</a></li>
                <li><a ng-click="addTabActive('#tab_17', '尿液分析')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 尿液分析</a></li>
                <li><a ng-click="addTabActive('#tab_10', '风湿免疫相关抗体')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 风湿免疫相关抗体</a></li>
                <li><a ng-click="addTabActive('#tab_11', '腹部超声')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 腹部超声/CT/MRI</a></li>
                <li><a ng-click="addTabActive('#tab_12', '肝脏硬度检测值')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肝脏硬度检测值</a></li>
                <li><a ng-click="addTabActive('#tab_13', '肝穿刺病理检查')" data-toggle="tab"><i class="fa fa-file-text-o"></i> 肝穿刺病理检查</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          </div>


          <!-- 显示部分==>肝功能 -->

          <div class="col-md-9">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="text-center" ng-bind="tabTitle"></h3>

                <!-- 各种tab -->
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                  <form class="form-horizontal">
                    <div class="box-body">

                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">总胆汁酸：</label>

                        <div class="col-sm-10">
                          <div class="input-group">
                            <input type="text" class="form-control" ng-model="totalBileAcid">
                            <span class="input-group-addon">(0-15)μmol/l</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">铜蓝蛋白：</label>

                        <div class="col-sm-10">
                          <div class="input-group">
                            <input type="text" class="form-control" ng-model="copperProtein ">
                            <span class="input-group-addon">(22-58)mg/dl</span>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="box-footer">

                      <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                    </div>
                  </form>
                </div>
              </div>

                <div class="tab-content">
              <div class="tab-pane" id="tab_2">
                <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">白蛋白</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionAlbumin">
                      <span class="input-group-addon">(35-52)g/L</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">球蛋白</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionGlobulin">
                      <span class="input-group-addon">20-35g/L</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">ALT</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionALT">
                      <span class="input-group-addon"><35IU/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">AST</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionAST">
                      <span class="input-group-addon"><35IU/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">GGT</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionGGT">
                      <span class="input-group-addon">(9-64)IU/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">ALP</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionALP">
                      <span class="input-group-addon">(30-120)IU/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">总胆固醇</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionTotalCholesterol">
                      <span class="input-group-addon">(2.8-5.69)mmol/l</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">总胆红素</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionTotalBilirubin">
                      <span class="input-group-addon">(5-21)μmol/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">直接胆红素</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionDirectBilirubin">
                      <span class="input-group-addon"><3.4μmol/L</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">γ-球蛋白</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="liverFunctionRglobulin">
                      <span class="input-group-addon">(11.1-18.8)%</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">

                <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
              </div>
              <!-- /.box-footer -->
            </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">

                <form class="form-horizontal">
                <div class="box-body">

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">BUN</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="renalFunctionBUN">
                      <span class="input-group-addon">(2.8-7.2)mmol/L</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Cr</label>

                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="renalFunctionCr">
                      <span class="input-group-addon">(59-104)μmol/L</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="box-footer">

                <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
              </div>
              <!-- /.box-footer -->
            </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_4">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">PT</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="clottingPT">
                          <span class="input-group-addon">(11-15)秒</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">INR</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="clottingINR">
                          <span class="input-group-addon">(0.8-1.5)</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_5">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">RBC</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="bloodRoutineRBC">
                          <span class="input-group-addon">(4.09-5.74)X10<sup>12</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Hb</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="bloodRoutineHb">
                          <span class="input-group-addon">(131-172)g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">WBC</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="bloodRoutineWBC">
                          <span class="input-group-addon">(3.97-9.15)X10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">中性粒细胞</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="bloodRoutineNeutrophils">
                          <span class="input-group-addon">(2.0-7.0)X10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">淋巴细胞</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="bloodRoutineLymphocytes">
                          <span class="input-group-addon">(0.8-4.0)X10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">嗜酸性粒细胞</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="bloodRoutineEosinophils">
                          <span class="input-group-addon">(0.02-0.5)X10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">血小板</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="bloodRoutinePlatelets">
                          <span class="input-group-addon">(85-303)X10<sup>9</sup>/L</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_6">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">抗线粒体抗体(AMA)</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverDiseaseAutoantibodiesAMA">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">AMA-M2</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverDiseaseAutoantibodiesAMAM2">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">抗平滑肌抗体</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverDiseaseAutoantibodiesAntiSmoothMuscleAntibody">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">肝肾微粒体抗体</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverDiseaseAutoantibodiesLiverKidneyMicrosomalAntibodies">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">肝细胞溶质抗原</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverDiseaseAutoantibodiesHepatocyteSoluteAntigen">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">可溶性肝-胰抗原</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverDiseaseAutoantibodiesSolubleLiverPancreaticAntigen">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">其他</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverDiseaseAutoantibodiesOther">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_7">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">均质型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="anaHomogeneous">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">颗粒型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="anaParticle">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">周边型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="anaPeripheral">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">核仁型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="anaNucleolus">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">核仁增强型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="anaNucleolusEnhancement">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">核点型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="anaNuclear">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">着丝点型</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="anaCentromere">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">其他</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="anaOther">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_8">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">igG</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityIgG">
                          <span class="input-group-addon">(7.2-16.9)g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">igA</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityIgA">
                          <span class="input-group-addon">(0.69-3.82)g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">igM</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityIgM">
                          <span class="input-group-addon">(0.63-2.8)g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">免疫复合物</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityImmuneComplexf">
                          <span class="input-group-addon"><0.056</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">补体C3</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityComplementC3">
                          <span class="input-group-addon">(0.85-1.9)g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">补体C4</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityComplementC4">
                          <span class="input-group-addon">(0.12-0.36)g/L</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">igE</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityIgE">
                          <span class="input-group-addon"><120 IU/ml</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">κ-轻链</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityKlightChain">
                          <span class="input-group-addon">(598-1320)mg/dl</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">λ-轻链</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="humoralImmunityNlightChain">
                          <span class="input-group-addon">(280-665)mg/dl</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_9">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD<sub>3</sub></label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="cellularImmunityCD3">
                          <span class="input-group-addon">(64-73) %</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD<sub>4</sub><sup>+</sup></label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="cellularImmunityCD4">
                          <span class="input-group-addon">(30-45) %</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD<sub>8</sub><sup>+</sup></label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="cellularImmunityCD8">
                          <span class="input-group-addon">(21-30) %</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD56+16(NK)</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="cellularImmunityCD56">
                          <span class="input-group-addon">(10-20) %</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD2</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="cellularImmunityCD2">
                          <span class="input-group-addon">(65-80) %</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CD4/CD8</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="cellularImmunityCD4CD8">
                          <span class="input-group-addon">(1.1-2.3)</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_10">
                <form class="form-horizontal">
                  <div class="box-body">

                    <!-- textarea -->
                  <div class="form-group">
                    <!-- <label>Textarea</label> -->
                    <textarea class="form-control" rows="6" ng-model="rheumaticImmuneRelatedAntibodies"></textarea>
                  </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_11">
                <form class="form-group">
                  <div class="box-body">

                    <li>
                      <input type="radio" name="r3" ng-model="cTMRI" ng-value="0"><span class="h5">0分：肝表面光滑，边缘锐，血管走向清晰；</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                    <li>
                      <input type="radio" name="r3" ng-model="cTMRI" ng-value="1"><span class="h5">1分：肝表面光滑，回声增粗、增强、分布尚均匀，血管走向清晰；</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                    <li>
                      <input type="radio" name="r3" ng-model="cTMRI" ng-value="2"><span class="h5">2分：肝表面光滑，边缘变钝，回声增粗、增强且分布不均匀，血管走向尚清晰；</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                    <li>
                      <input type="radio" name="r3" ng-model="cTMRI" ng-value="3"><span class="h5">3分：肝表面光滑，回声增粗、增强、分布尚均匀，血管走向清晰；</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                    <li>
                      <input type="radio" name="r3" ng-model="cTMRI" ng-value="4"><span class="h5">4分：肝表面呈波浪状（或锯齿状），肝回声增粗、增强且分布不均匀、呈结节状（或斑片状），肝缘钝化，肝内血管狭窄或粗细不等。</span><span class="col-md-offset-1">&nbsp</span>
                    </li>
                      <hr style="border : 1px dashed #3C8DBC;" />
                      <button class="btn btn-info" ngf-select="" ng-model="image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-min-height="100" ngf-resize="{width: 500, height: 500}">上传图片资料</button>
                      <img ngf-src="image" id="blah2" width="500" height="200" class="img-box">

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>

              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_12">
                <form class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Fibroscan值：</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverHardnessFibroscan">
                          <span class="input-group-addon"></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Fibrotest值：</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="liverHardnessFibrotest">
                          <span class="input-group-addon"></span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_13">
                <form class="form-horizontal">
                  <div class="box-body">

                    <!-- textarea -->
                  <div class="form-group">
                    <!-- <label>Textarea</label> -->
                    <textarea class="form-control" rows="6" ng-model="liverPuncturePathology"></textarea>
                  </div>

                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>

              <div class="tab-pane" id="tab_14">
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">AFP</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="aFP">
                          <span class="input-group-addon"><8.78 ng/ml</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">癌胚抗原CEA</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="carcinoembryonicAntigenCEA">
                          <span class="input-group-addon"><5 ng/ml</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CA199</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="ca199">
                          <span class="input-group-addon"><39.0 U/ml</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">CA125</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="ca125">
                          <span class="input-group-addon"><35.0 U/ml</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>



              <div class="tab-pane" id="tab_15">
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">HBsAg</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="hbsag">
                          <span class="input-group-addon">(0-0.05) IU/ml</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">HBsAb</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="hbsab">
                          <span class="input-group-addon">(0-10) mlU/ml</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">HBeAg</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="hbeag">
                          <span class="input-group-addon">(0-1) S/CO</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">HBeAb</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="hbeab">
                          <span class="input-group-addon">>1 S/CO</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">HBcAb</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="hbcab">
                          <span class="input-group-addon">(0-1) S/CO</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">HBV-RNA</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="hbvRna">
                          <span class="input-group-addon"><500 copies/ml</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>



              <div class="tab-pane" id="tab_16">
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">抗HCV抗体</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="antiHCVantibody">
                          <span class="input-group-addon"><1 S/CO</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">HCV-RNA</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="hcvRna">
                          <span class="input-group-addon"></span>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>



              <div class="tab-pane" id="tab_17">
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">蛋白质</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="protein">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">红细胞</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="redBloodCell">
                          <span class="input-group-addon">(0-5) p/ul</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">白细胞</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="whiteBloodCell">
                          <span class="input-group-addon">(0-9)p/ul</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">胆红素</label>

                      <div class="col-sm-10">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="bilirubin">
                          <span class="input-group-addon">阴性</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right" ng-click="showSaveModal()">整体保存</button>
                  </div>
                </form>
              </div>
<!--
              <input type="button" value="修改问题">
              <input type="button" value="查看问题历史">
              <input type="button" value="查看质疑历史">
              <input type="button" value="提出质疑">
              <input type="button" value="回应质疑"> -->


              <!-- /.tab-pane -->

            </div>

              </div>
            </div>
          </div>

          <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                </div>
              <div class="modal-body">
                <p ng-bind="modalContent">&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="saveSomeMessage()">确认保存</button>
              </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="justModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                </div>
              <div class="modal-body">
                <p ng-bind="justModalContent">&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
              </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
