<section class="content-header">
  <h1 class=" text-center">
     症状体征
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
    <li class="active">症状体征</li>
  </ol>
</section>
<div ng-app="allergyHistory" ng-controller="allergyHistoryController">


<div ng-model="symptoms" ng-controller="symptomsController">
	<u class="h4 col-md-offset-9">患者：{{patientName}}</u>
  <br>
  <u class="h4 col-md-offset-9">病理号：{{patientNumber}}</u>
      <br>
      <div class="box box-info">
      <div class="box-header with-border">
              <h3 class="box-title">肝损伤伴随的症状体征</h3>
      </div>
      <div class="box-body">
        <input type="radio" name="liverInjury" ng-model="liverInjury" ng-value=1><span class="h4">无</span>
        <span class="col-md-offset-1">
          <input type="radio" name="liverInjury" ng-model="liverInjury" ng-value=2><span class="h4">有</span>
        </span>
        <span class="col-md-offset-1">
          <input type="radio" name="liverInjury" ng-model="liverInjury" ng-value=3><span class="h4">不详</span>
        </span>
      </div>
      </div>

      <div class="box box-info">
      <table class="table">
      	<tr>
      		<th>症状体征</th>
      		<th>描述</th>
      		<th>出现的时间</th>
      		<th>消失的时间</th>
      		<th>出院时症状体征状态</th>
      	</tr>
      	<tr>
      		<td>乏力</td>
      		<td>
      			<input type="radio" name="weak" ng-model="weak" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="weak" ng-model="weak" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="weak" ng-model="weak" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="weak" ng-model="weak" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker1" ng-model="weakBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker2" ng-model="weakDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="weakDischarge" ng-model="weakDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="weakDischarge" ng-model="weakDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="weakDischarge" ng-model="weakDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="weakDischarge" ng-model="weakDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>纳差</td>
      		<td>
      			<input type="radio" name="anorexia" ng-model="anorexia" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="anorexia" ng-model="anorexia" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="anorexia" ng-model="anorexia" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="anorexia" ng-model="anorexia" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker3" ng-model="anorexiaBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker4" ng-model="anorexiaDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="anorexiaDischarge" ng-model="anorexiaDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="anorexiaDischarge" ng-model="anorexiaDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="anorexiaDischarge" ng-model="anorexiaDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="anorexiaDischarge" ng-model="anorexiaDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>腹胀</td>
      		<td>
      			<input type="radio" name="abdominalDistention" ng-model="abdominalDistention" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="abdominalDistention" ng-model="abdominalDistention" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="abdominalDistention" ng-model="abdominalDistention" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="abdominalDistention" ng-model="abdominalDistention" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker5" ng-model="abdominalDistentionBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker6" ng-model="abdominalDistentionDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="abdominalDistentionDischarge" ng-model="abdominalDistentionDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="abdominalDistentionDischarge" ng-model="abdominalDistentionDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="abdominalDistentionDischarge" ng-model="abdominalDistentionDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="abdominalDistentionDischarge" ng-model="abdominalDistentionDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>黄疸</td>
      		<td>
      			<input type="radio" name="jaundice" ng-model="jaundice" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="jaundice" ng-model="jaundice" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="jaundice" ng-model="jaundice" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="jaundice" ng-model="jaundice" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker7" ng-model="jaundiceBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker8" ng-model="jaundiceDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="jaundiceDischarge" ng-model="jaundiceDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="jaundiceDischarge" ng-model="jaundiceDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="jaundiceDischarge" ng-model="jaundiceDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="jaundiceDischarge" ng-model="jaundiceDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>恶心</td>
      		<td>
      			<input type="radio" name="nausea" ng-model="nausea" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="nausea" ng-model="nausea" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="nausea" ng-model="nausea" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="nausea" ng-model="nausea" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker9" ng-model="nauseaBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker10" ng-model="nauseaDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="nauseaDischarge" ng-model="nauseaDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="nauseaDischarge" ng-model="nauseaDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="nauseaDischarge" ng-model="nauseaDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="nauseaDischarge" ng-model="nauseaDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>恶心</td>
      		<td>
      			<input type="radio" name="nausea" ng-model="nausea" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="nausea" ng-model="nausea" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="nausea" ng-model="nausea" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="nausea" ng-model="nausea" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker11" ng-model="nauseaBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker12" ng-model="nauseaDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="nauseaDischarge" ng-model="nauseaDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="nauseaDischarge" ng-model="nauseaDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="nauseaDischarge" ng-model="nauseaDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="nauseaDischarge" ng-model="nauseaDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>呕吐</td>
      		<td>
      			<input type="radio" name="vomit" ng-model="vomit" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="vomit" ng-model="vomit" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="vomit" ng-model="vomit" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="vomit" ng-model="vomit" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker13" ng-model="vomitBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker14" ng-model="vomitDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="vomitDischarge" ng-model="vomitDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="vomitDischarge" ng-model="vomitDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="vomitDischarge" ng-model="vomitDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="vomitDischarge" ng-model="vomitDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>齿龈出血</td>
      		<td>
      			<input type="radio" name="gingivalBleeding" ng-model="gingivalBleeding" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="gingivalBleeding" ng-model="gingivalBleeding" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="gingivalBleeding" ng-model="gingivalBleeding" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="gingivalBleeding" ng-model="gingivalBleeding" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker15" ng-model="gingivalBleedingBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker16" ng-model="gingivalBleedingDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="gingivalBleedingDischarge" ng-model="gingivalBleedingDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="gingivalBleedingDischarge" ng-model="gingivalBleedingDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="gingivalBleedingDischarge" ng-model="gingivalBleedingDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="gingivalBleedingDischarge" ng-model="gingivalBleedingDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>鼻衄</td>
      		<td>
      			<input type="radio" name="epistaxis" ng-model="epistaxis" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="epistaxis" ng-model="epistaxis" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="epistaxis" ng-model="epistaxis" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="epistaxis" ng-model="epistaxis" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker17" ng-model="epistaxisBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker18" ng-model="epistaxisDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="epistaxisDischarge" ng-model="epistaxisDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="epistaxisDischarge" ng-model="epistaxisDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="epistaxisDischarge" ng-model="epistaxisDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="epistaxisDischarge" ng-model="epistaxisDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>肝区疼痛</td>
      		<td>
      			<input type="radio" name="liverPain" ng-model="liverPain" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="liverPain" ng-model="liverPain" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="liverPain" ng-model="liverPain" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="liverPain" ng-model="liverPain" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker19" ng-model="liverPainBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker20" ng-model="liverPainDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="liverPainDischarge" ng-model="liverPainDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="liverPainDischarge" ng-model="liverPainDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="liverPainDischarge" ng-model="liverPainDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="liverPainDischarge" ng-model="liverPainDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>肝肿大</td>
      		<td>
      			<input type="radio" name="hepatomegaly" ng-model="hepatomegaly" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="hepatomegaly" ng-model="hepatomegaly" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="hepatomegaly" ng-model="hepatomegaly" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="hepatomegaly" ng-model="hepatomegaly" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker21" ng-model="hepatomegalyBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker22" ng-model="hepatomegalyDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="hepatomegalyDischarge" ng-model="hepatomegalyDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="hepatomegalyDischarge" ng-model="hepatomegalyDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="hepatomegalyDischarge" ng-model="hepatomegalyDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="hepatomegalyDischarge" ng-model="hepatomegalyDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>脾肿大</td>
      		<td>
      			<input type="radio" name="splenomegaly" ng-model="splenomegaly" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="splenomegaly" ng-model="splenomegaly" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="splenomegaly" ng-model="splenomegaly" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="splenomegaly" ng-model="splenomegaly" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker23" ng-model="splenomegalyBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker24" ng-model="splenomegalyDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="splenomegalyDischarge" ng-model="splenomegalyDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="splenomegalyDischarge" ng-model="splenomegalyDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="splenomegalyDischarge" ng-model="splenomegalyDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="splenomegalyDischarge" ng-model="splenomegalyDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>发热</td>
      		<td>
      			<input type="radio" name="fever" ng-model="fever" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="fever" ng-model="fever" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="fever" ng-model="fever" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="fever" ng-model="fever" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker25" ng-model="feverBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker26" ng-model="feverDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="feverDischarge" ng-model="feverDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="feverDischarge" ng-model="feverDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="feverDischarge" ng-model="feverDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="feverDischarge" ng-model="feverDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>皮疹</td>
      		<td>
      			<input type="radio" name="rash" ng-model="rash" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="rash" ng-model="rash" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="rash" ng-model="rash" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="rash" ng-model="rash" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker27" ng-model="rashBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker28" ng-model="rashDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="rashDischarge" ng-model="rashDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="rashDischarge" ng-model="rashDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="rashDischarge" ng-model="rashDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="rashDischarge" ng-model="rashDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>关节痛</td>
      		<td>
      			<input type="radio" name="arthralgia" ng-model="arthralgia" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="arthralgia" ng-model="arthralgia" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="arthralgia" ng-model="arthralgia" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="arthralgia" ng-model="arthralgia" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker29" ng-model="arthralgiaBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker30" ng-model="arthralgiaDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="arthralgiaDischarge" ng-model="arthralgiaDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="arthralgiaDischarge" ng-model="arthralgiaDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="arthralgiaDischarge" ng-model="arthralgiaDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="arthralgiaDischarge" ng-model="arthralgiaDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td>皮肤瘙痒</td>
      		<td>
      			<input type="radio" name="skinItch" ng-model="skinItch" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="skinItch" ng-model="skinItch" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="skinItch" ng-model="skinItch" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="skinItch" ng-model="skinItch" ng-value=4><span class="h5">不详</span></span>
        	</td>
      		<td>
      			<input class="form-control" id="datepicker31" ng-model="skinItchBeginDate">
      		</td>
      		<td>
      			<input class="form-control" id="datepicker32" ng-model="skinItchDisappearDate">
      		</td>
      		<td>
      			<input type="radio" name="skinItchDischarge" ng-model="skinItchDischarge" ng-value=1><span class="h5">轻度</span><span><input type="radio" name="skinItchDischarge" ng-model="skinItchDischarge" ng-value=2><span class="h5">中度</span></span><span><input type="radio" name="skinItchDischarge" ng-model="skinItchDischarge" ng-value=3><span class="h5">重度</span></span><span><input type="radio" name="skinItchDischarge" ng-model="skinItchDischarge" ng-value=4><span class="h5">不详</span></span>
      		</td>
      	</tr>

      	<tr>
      		<td><input type="text" ng-model="name" class="form-control" placeholder="其他体征名"></td>
      		<td>
      			<input type="text" ng-model="description" class="form-control" placeholder="描述">
        	</td>
      		<td>
      			<input class="form-control" id="beginDate" ng-model="beginDate" placeholder="开始时间">
      		</td>
      		<td>
      			<input class="form-control" id="disappearDate" ng-model="disappearDate" placeholder="结束时间">
      		</td>
      		<td>
      			<input type="text" ng-model="dischargeSymptoms" class="form-control" placeholder="出院时表现">
      		</td>
      	</tr>
      </table>
      <button class="btn btn-primary col-md-offset-5" ng-click="addSymptoms()">新增</button>
      </div>
      <span class="col-md-offset-10">&nbsp</span>
      <input type="button" class="btn btn-primary " ng-click="save()" value="保存">&nbsp
      <input type="button" class="btn btn-primary " ng-click="layout()" value="退出">
</div>
