<!-- Content Wrapper. Contains page content -->
  <div class="project">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        
        <small> </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">医院列表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <div class="nav nav-tabs" style="background-color:#222d32;color:#b8c7ce;">
              <h3 style="margin-left:12px;">医院列表</h3>
            </div>
            <div class="tab-content">
              <div class="project-content">
                <section class="body">
                  <div class="inviteDefault">
                    <div class="box box-primary">
                      <div class="panel panel-default panel-chart">
                        <div class="panel-heading">基本信息</div>
                        <div class="panel-body">
                          <table class="table table-hover table-bordered">
                            <thead>
                              <tr>
                                <td>序号</td>
                                <td>医院名称</td>
                                <td>医院地址</td>
                                <td>联系电话</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="x in hospitals" style="cursor: pointer;">
                                <td ng-if="$odd" ui-sref="hospital" ng-click="click_hospital(x)" style="background-color:#4ba8b3">{{$index+1}}</td>
                                <td ng-if="$even" ui-sref="hospital" ng-click="click_hospital(x)" style="background-color:#f1f1f1">{{$index+1}}</td>
                                <td ng-if="$odd" ui-sref="hospital" ng-click="click_hospital(x)" style="background-color:#4ba8b3">{{x.hospitalName}}</td>
                                <td ng-if="$even" ui-sref="hospital" ng-click="click_hospital(x)" style="background-color:#f1f1f1">{{x.hospitalName}}</td>
                                <td ng-if="$odd" ui-sref="hospital" ng-click="click_hospital(x)" style="background-color:#4ba8b3">{{x.address}}-{{x.addressDetail}}</td>
                                <td ng-if="$even" ui-sref="hospital" ng-click="click_hospital(x)" style="background-color:#f1f1f1">{{x.address}}-{{x.addressDetail}}</td>
                                <td ng-if="$odd" ui-sref="hospital" ng-click="click_hospital(x)" style="background-color:#4ba8b3">{{x.telephone}}</td>
                                <td ng-if="$even" ui-sref="hospital" ng-click="click_hospital(x)" style="background-color:#f1f1f1">{{x.telephone}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="page ng-hide" my-directive url={{url}} get-data="hospitals"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->
