<div class="caseIllness">
  <div class="box box-primary">
    <div class="panel panel-default">
      <div class="panel-heading">项目的相关病例</div>
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <td>序号</td>
              <td>病例编号</td>
              <td>姓名</td>
              <td>性别</td>
              <td>年龄</td>
            </tr>
          </thead>
          <tbody ng-repeat="x in Illnesses">
            <tr>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{$index+1}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{$index+1}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.identifier}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.identifier}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.name}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.name}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.gender}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.gender}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.age}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.age}}</td>
            </tr>
          </tbody>
        </table>
        <div class="page ng-hide" my-directive url={{url}} get-data=""></div>
      </div>
    </div>
  </div>
</div>

          