<div class="hospitalDefault">
  <div class="box box-primary">
    <div class="panel panel-default">
      <div class="panel-heading">{{click_hospital.hospitalName}}</div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="col-md-6">
            <img ngf-src="image" style="height:220px;width:400px;">
          </div>
          <div class="col-md-6">
            <span><h4>简介：</h4>{{click_hospital.introduction}}</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <h3 class="h3-title">基本信息：</h3>
            <table>
              <tbody>
                <tr style="height:50px;">
                  <td class="col-md-6">
                    <strong>中文名称：</strong>
                    <span>{{click_hospital.hospitalName}}</span>
                  </td>
                  <td class="col-md-6">
                    <strong>所在地区：</strong>
                    <span>{{click_hospital.address}}</span>
                  </td>
                </tr>
                <tr style="height:50px;">
                  <td class="col-md-6">
                    <strong>特色专科：</strong>
                    <span>{{click_hospital.specialMajor}}</span>
                  </td>
                  <td class="col-md-6">
                    <strong>经营范围：</strong>
                    <span>{{click_hospital.manageRange}}</span>
                  </td>
                </tr>
                <tr style="height:50px;">
                  <td class="col-md-6">
                    <strong>医院联系地址：</strong>
                    <span>{{click_hospital.addressDetail}}</span>
                  </td>
                </tr>    
                <tr style="height:50px;">
                  <td class="col-md-6">
                    <strong>医院联系电话：</strong>
                    <span>{{click_hospital.telephone}}</span>
                  </td>
                </tr>              
              </tbody>
            </table>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="panel panel-default">
      <div class="panel-heading">医院的相关病例</div>
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <td>序号</td>
              <td>病例名</td>
              <td>病例性别</td>
              <td>病例录入时间</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in Illnesses" ng-click="clickPatient(x)" style="cursor: pointer;">
              <td ng-if="$odd" style="background-color:#4ba8b3">{{$index+1}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{$index+1}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.name}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.name}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.gender}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.gender}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.identifier.substring(0,4)}}-{{x.identifier.substring(4,6)}}-{{x.identifier.substring(6,8)}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.identifier.substring(0,4)}}-{{x.identifier.substring(4,6)}}-{{x.identifier.substring(6,8)}}</td>
            </tr>
          </tbody>
        </table>
        <div class="col col-md-12">
          <div class="col-md-8">
            <div class="page ng-hide" my-directive url={{url}} get-data="Illnesses"></div>
          </div>
          <div class="col-md-4 text-right">
            <button type="button" id="writeIllness" class="btn btn-lg btn-default" ng-click="writeIllness()">新增案例</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

          