<div class="projectDefault">
  <div class="box box-primary">
    <div class="panel panel-default">
      <div class="panel-heading">项目的信息概览</div>
      <div class="panel-body">
        <canvas id="bar" class="chart chart-bar"chart-data="data" chart-labels="labels" chart-options="options"></canvas>
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="panel panel-default">
      <div class="panel-heading">项目医院</div>
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <td>序号</td>
              <td>医院名称</td>
              <td>医院地址</td>
              <td>联系电话</td>
            </tr>
          </thead>
          <tbody ng-repeat="x in positals">
            <tr>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{$index+1}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{$index+1}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.name}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.name}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.address}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.address}}</td>
              <td ng-if="$odd" style="background-color:#4ba8b3">{{x.telephone}}</td>
              <td ng-if="$even" style="background-color:#f1f1f1">{{x.telephone}}</td>
            </tr>
          </tbody>
        </table>
        <div class="page ng-hide" my-directive url={{url}} get-data=""></div>
      </div>
    </div>
  </div>
</div>

          